@-webkit-keyframes moveright{
	from{background-position: 0 0;}
	to{background-position: 100% 0;}
}

#jet{background-image:url("sky.jpg");
width:auto;
height:620px;
-webkit-animation:moveright 3s linear infinite}

#ins{font-family:calibri;
    font-size:large;
    font-weight:bold;
    background-color:white;}